@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

:root {
  --nav-width: 1200px;
  --home-width: 1100px;
  --loading-dot-size: 10px;
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Space Mono', monospace;
  color: #e6e7eb;
}

html {
  background-color: #222225;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navbar {
  max-width: var(--nav-width);
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .logo {
  display: flex;
  align-items: center;
  justify-content: baseline;
}

.navbar .logo div {
  color: #4d4d54;
  margin-left: 10px;
  align-self: last baseline;
}

.navbar .logo h1 a {
  color: #61c1fb;
  transition: 0.2s;
}

.navbar .logo h1 a:hover {
  color: #77cafd;
  transition: 0.2s;
}

.navbar .links {
  width: 230px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: baseline;
}

.navbar a {
  cursor: pointer;
  text-decoration: none;
  color: #9ca3b1;
  transition: 0.2s;
}

.navbar a:hover {
  color: #adafb3;
  transition: 0.2s;
}

.navbar .signin {
  padding: 3px 8px;
  background: linear-gradient(to right, #222225 50%, #61c1fb 50%) 0;
  background-size: 200%;
  border-bottom: 1px solid #61c1fb;
  border-right: 1px solid #61c1fb;
}

.navbar .signin:hover {
  color: #222225;
  background-position: 99%;
}

.home .error-message {
  font-size: 26px;
  margin-top: 100px;
}

.home .post-list {
  margin-bottom: 97px;
}

.home .post-list > h2 {
  margin: 50px 0 20px 50px;
}

.home .post-list .post-preview > a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: var(--home-width);
  padding: 25px;
  border-bottom: 1px solid #2e2e32;
  transition-duration: 0.2s;
  text-decoration: none;
}

.home .post-list .post-preview > a:hover {
  border-bottom: 1px solid #61c1fb;
  border-right: 1px solid #61c1fb;
  background-color: #2e2e32;
  transition-duration: 0.1s;
}

.home .post-list .post-preview .post-content {
  display: flex;
  width: 850px;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  word-break: break-all;
}

.home .post-list .post-preview .post-content p {
  margin-left: 12px
}

.home .post-list .post-preview .timestamp {
  width: 170px;
  color: #434349;
  align-self: first baseline;
}

.bouncing-dots {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

@keyframes bouncing-dots {
  to {
    opacity: 0.1;
    transform: translateY(-16px);
  }
}

.bouncing-dots {
  margin-top: 100px;
}

.bouncing-dots .message {
  font-size: 26px;
  margin-right: 16px;
}

.bouncing-dots > div {
  width: var(--loading-dot-size);
  height: var(--loading-dot-size);
  margin: 3px 6px;
  border-radius: 50%;
  background-color: #e6e7eb;
  opacity: 1;
  animation: bouncing-dots 0.6s infinite alternate;
}

.bouncing-dots > div:nth-child(2) {
  animation-delay: 0.4s; 
}

.bouncing-dots > div:nth-child(3) {
  animation-delay: 0.2s; 
}

.post-details {
  padding-bottom: 120px;
  margin-top: 80px;
  width: var(--nav-width);
}

.post {
  display: flex;
  flex-direction: column;
  box-shadow: 2px 2px 5px #1b1b1d;
  border-right: 1px solid #61c1fb;
  border-bottom: 1px solid #61c1fb;
  background-color: #2e2e32;
}

.post-container {
  border-bottom: 3px dashed #434349;
}

.post .post-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 30px;
}

.post-container .post-header .creator-details {
  word-break: break-all;
  margin-right: 5px;
}

.post .post-header h2 {
  font-size: 30px;
  word-wrap: break-all;
}

.post .post-content {
  white-space: pre-wrap;
  padding: 30px;
  font-size: 18px;
  margin-bottom: 20px;
}

.post .post-header .time-and-options {
  display: flex;
  flex-direction: column;
}

.post .post-header .time-and-options .options-button {
  align-self: flex-end;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  width: 100px;
  background: none;
  border: none;
  margin-top: 10px;
  padding: 3px 8px;
  background: linear-gradient(to right, #2e2e32 50%, #61c1fb 50%) 0;
  background-size: 200%;
  border-bottom: 1px solid #61c1fb;
  border-right: 1px solid #61c1fb;
  transition-duration: 0.2s;
  box-shadow: 2px 2px 3px #222225;
}

.post .post-header .time-and-options .options-button:hover {
  color: #2e2e32;
  background-position: 100%;
  transition-duration: 0.2s;
}

.post .post-header .time-and-options .options {
  display: flex;
  justify-content: space-between;
  width: 220px;
}

.post .post-header .timestamp {
  align-self: flex-end;
  color: #434349
}

.comments {
  padding: 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.comments-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  height: 100px;
}

.no-comments-message {
  color: #757473;
  font-size: 18px;
}

.create-comment {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.create-comment form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.create-comment form p {
  color: lightcoral;
  margin: 5px 0 5px 20px;
}

.create-comment form input {
  margin-top: 20px;
  font-size: 16px;
  width: 100%;
  background: none;
  padding: 12px;
  border: none;
  border-bottom: 1px solid #434349;
}

.create-comment button {
  margin-left: 30px;
  background: none;
  align-self: last baseline;
}

.create-comment button {
  align-self: center;
  font-size: 16px;
  width: 100px;
  margin-top: 20px;
  border: none;
  padding: 3px 8px;
  background: #2e2e32;
  background: linear-gradient(to right, #2e2e32 50%, #61c1fb 50%) 0;
  background-size: 200%;
  border-bottom: 1px solid #61c1fb;
  border-right: 1px solid #61c1fb;
  transition-duration: 0.2s;
  box-shadow: 2px 2px 3px #222225;
}

.create-comment button:hover {
  color: #2e2e32;
  background-position: 100%;
}

.comments-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 35px 0 15px 0;
}

.user {
  display: flex;
}

.user img {
  margin-right: 20px;
  width: 70px;
  height: 70px;
}

.comment {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
  border-bottom: 2px solid #3c3c42;
}

.comment .comment-creator {
  font-size: 19px;
}

.comment-content {
  width: 850px;
  word-break: break-all;
}

.comment .comment-message {
  font-size: 18px;
  margin: 10px 0 10px 5px;
  text-wrap: wrap;
}

.comment .comment-details {
  display: flex;
  flex-direction: column;
}

.comment .comment-details .comment-timestamps {
  color: #434349;
}

.comment .comment-details button {
  align-self: flex-end;
  font-size: 16px;
  width: 100px;
  margin-top: 15px;
  border: none;
  padding: 3px 8px;
  background: #2e2e32;
  background: linear-gradient(to right, #2e2e32 50%, #61c1fb 50%) 0;
  background-size: 200%;
  border-bottom: 1px solid #61c1fb;
  border-right: 1px solid #61c1fb;
  transition-duration: 0.2s;
  box-shadow: 2px 2px 3px #222225;
}

.comment .comment-details button:hover {
  color: #2e2e32;
  background-position: 100%;
}

.signin-form {
  display: flex;
  flex-direction: column;

  margin-top: 150px;
  padding: 20px 60px 40px 60px;
  border-radius: 2px;
  border-right: 1px solid #61c1fb;
  border-bottom: 1px solid #61c1fb;
  background: #2e2e32;

  box-shadow: 3px 3px 6px #1b1b1d;
}

.signin-form h2 {
  align-self: center;
  margin-bottom: 20px;
}

.error-message {
  color: lightcoral;
  align-self: center;
}

.signin-form form {
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signin-form .form-input {
  display: flex;
  width: 253px;
  flex-direction: column;
  margin: 10px 0;
}

.signin-form .form-input label {
  display: flex;
  margin-left: 5px;
}

.signin-form .form-input label .error-message {
  width: 200px;
  font-size: 13px;
  word-break: break-all;
}

.signin-form .form-input input {
  margin-top: 10px;
  padding: 10px;
  border: none;
  border-radius: 2px;
  width: 250px;
  height: 30px;
  background: #434349;
  box-shadow: 2px 2px 3px #222225;
}

.signin-form button {
  align-self: center;
  font-size: 16px;
  width: 250px;
  margin-top: 20px;
  border: none;
  padding: 3px 8px;
  background: #2e2e32;
  background: linear-gradient(to right, #2e2e32 50%, #61c1fb 50%) 0;
  background-size: 200%;
  border-bottom: 1px solid #61c1fb;
  border-right: 1px solid #61c1fb;
  transition-duration: 0.2s;
  box-shadow: 2px 2px 3px #222225;
}

.signin-form button:hover {
  color: #2e2e32;
  background-position: 100%;
}

.signin-form .sign-up {
  text-align: center;
  margin-top: 30px;
  font-size: 15px;
}

.create-post {
  display: flex;
  flex-direction: column;

  margin: 80px 0;
  width: var(--nav-width);
  padding: 20px 40px 40px 40px;
  border-radius: 2px;
  border-right: 1px solid #61c1fb;
  border-bottom: 1px solid #61c1fb;
  background: #2e2e32;

  box-shadow: 3px 3px 6px #1b1b1d;
}

.create-post h2 {
  margin: 10px 0;
  align-self: center;
}

.create-post .create-input {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}

.create-post .create-input label {
  display: flex;
  margin-left: 5px;
}

.create-post .create-input input {
  font-size: 20px;
  margin-top: 10px;
  padding: 20px;
  border: none;
  border-radius: 2px;
  width: 100%;
  height: 45px;
  background: #434349;
  box-shadow: 2px 2px 3px #222225;
}

.create-post .create-input textarea {
  font-size: 18px;
  margin-top: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 2px;
  width: 100%;
  height: 350px;
  background: #434349;
  box-shadow: 2px 2px 3px #222225;
  resize: none;
}

.create-post button {
  align-self: center;
  font-size: 16px;
  height: 50px;
  width: 500px;
  margin-top: 20px;
  border: none;
  padding: 3px 8px;
  background: #2e2e32;
  background: linear-gradient(to right, #2e2e32 50%, #61c1fb 50%) 0;
  background-size: 200%;
  border-bottom: 1px solid #61c1fb;
  border-right: 1px solid #61c1fb;
  transition-duration: 0.2s;
  box-shadow: 2px 2px 3px #222225;
}

.create-post button:hover {
  color: #2e2e32;
  background-position: 100%;
}

.not-found {
  display: flex;
  flex-direction: column;
  margin: 15%;
}

.not-found h2 {
  font-size: 30px;
  letter-spacing: 5px;
  color: lightcoral;
  align-self: center;
  margin-bottom: 30px;
}

.not-found p {
  font-size: 24px;
}

.not-found a {
  align-self: flex-end;
  color: #61c1fb;
  transition-duration: .2s;
}

.not-found a:hover {
  transition-duration: .2s;
  color: #80ceff;
}